
// variables
$blue-700: #1A56DB;
// mixins
@mixin transition($property, $delay, $ease) {
    transition: $property $delay $ease;
    -webkit-transition: $property $delay $ease;
    -moz-transition: $property $delay $ease;
    -ms-transition: $property $delay $ease;
    -o-transition: $property $delay $ease;
}
// general styles
* {
    @include transition(.3s, all, ease-in-out);
}
// about
button {
    background-color: $blue-700;
    
}